@model IEnumerable<HLNews.Models.ArticleModel>

@{
    ViewData["Title"] = "Index";
    
}




<h1>Index</h1>

<form asp-controller="Home" asp-action="Index" method="get">
    <p>
        Search: <input type="text" name="searchString" />
       
        
        <select type="text" name="country">
            <option value="" disabled selected>Select Country</option>
           @foreach(string country in ViewData["Countries"] as List<string>)
           {
            
               <option value="@country">@country</option>
            
           }
        </select>
        <input type="submit" value="Search" />
    </p>
 
</form>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.sourceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.url)
               
            </th>
            <th>
                @Html.DisplayNameFor(model => model.author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.publishedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            @*<td>
            @Html.DisplayFor(modelItem => item.sourceId)
        </td>*@
            <td>
                @{if (item.imageURL != null)
                    {
                      <img id="img_logo" alt="Logo" src="@Url.Content(item.imageURL)" width="100" height="100" /> 
                    }
                 }

            </td>
            <td style="width: 50px">
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
                <hr />
                @Html.DisplayFor(modelItem => item.author)
            </td>
            <td href="@item.url">
                <a href="@item.url" target="_blank">Check it out</a>
            </td>
            <td>
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.publishedAt)
            </td>

        </tr>
}
    </tbody>
</table>
